.page-loader {
  background-color: $course-background;
  display: table;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.player {
  height: 100%;
<<<<<<< HEAD
=======
  overflow: auto;
>>>>>>> 0175e8c9db0d2470f26d620fef18db9981aa86b3
}
