.page-loader {
  background-color: $course-background;
  display: table;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.player {
  height: 100%;
<<<<<<< HEAD
=======
  overflow: auto;
>>>>>>> f6fe3479ca5e4f91f0aa58d2833a62e7dd4e1fdc
}
