/* Intro page */

body{
    font-weight: 200;
}
.intro-container {
  background-color: $theme-light-blue;
  height: 100%;
  width: 100%;
    font-size: 1em;
    font-weight: normal;
}

h1{
    font-size: 1em;
}

.bg{
    height: 540px;
}
.page_title
    {
    margin-top: 3%;
    margin-left: 8%;
    text-transform: uppercase;
    }
   
.middle_align{
    vertical-align: middle;
}

.page_title h1{
    font-weight: 900;
    text-transform: uppercase;
}
.content
{
  
  background-color: #000;
    color: $black;
  font-family: Arial;
  height: 100%;
  margin: auto;
  width: 100%;
    
}

.page_heading{
    
     font-size: 1em;
    font-weight: bold;
    
}

.flex-container{
    display: flex;
    display: -webkit-flex;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.close-btn {
  color: $white;
  float: right;
  font-weight: 700;
  cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.buttons button.selected {
  background-color: $nav-button-color;
  color: $white;
}

.intro-container {
    
    h1
   {
       font-size: 1.5em;
       font-weight: normal;
    }
    body
    {
        font-size: 16px;
    }
  .content .welcome_text
  {
    margin: 20% auto auto auto;
    text-align: center;
    width: 50%;
  }

  .left-side
  {
    border-right: 1px solid #ccc;
    text-align: right;
    text-transform: uppercase;
    padding-right: 10px;
    width: 50%;
  }

  .right-side
  {
    border-left: 1px solid #ccc;
    text-align: left;
    text-transform: uppercase;
    padding-left: 10px;
    width: 50%;
  }

  .bg
  {
   
    height:100%;
    background-repeat: no-repeat;
    
  }

         @media only screen  and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) { 
           .bg
            {
              background-position-x: -10px;
            }
    }
  .instruction_text
  {
    color: $white;
    font-weight:bold;
    position: relative;
    top: 10px;
  }

  .btn
  {
    cursor: pointer;
    text-align: right;
    width: 80%;
      margin-top: 5%;
  }
    
    
  .btn .btn_text
  {
    color: #5e9e44;
    font-size: 1.25em;
    left: -15px;
    position: relative;
    top: 12px;
  }

  .start-button {
    background-image: url("/app/assets/images/template/start-btn.jpg");
    background-repeat: no-repeat;
    display: inline-block;
    height: 45px;
    text-align: center;
    width: 112px;
  }
    
          @media only screen and (max-device-width: 800px) {
          
        .bg
        {
             background-position-x: -160px;
        }
              
         .content .welcome_text {
            margin: 0% auto auto auto;
            width: 100%;
        }
                  
            .btn
          {
            cursor: pointer;
            text-align: center;
            width: 100%;
        }
    }
    
       @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
       .content
         {
             font-size: 0.875em;
         }
           h1
           {
               font-size: 1.5em;
               font-weight: normal;
           }
            .bg
            {
                 background-position-x: -400px;
            }
           
           .content .welcome_text {
            margin: 25% auto auto auto;
            width: 100%;
           }

            .btn
          {
            cursor: pointer;
            text-align: center;
            width: 100%;
        }
           
           .instruction_text
           {
               font-size: 14px;
           }
    
    }
    
        
}

.static-page1 {
     body
    {
        font-size: 1em;
    }
      
  .flex-container
  {
    display: block;
    width: 50%;
    height: 530px;
    
    opacity:0.9;

  }
    
  .left-side
  {
    width: 50%;
       
  }

 .bg
  {
    background-image: url("/app/assets/images/template/Bg2.jpg");
    background-repeat: no-repeat;
      background-size: 100% 100%;
  }

  .instruction_text
  {
    color: $white;
    
      margin-left: 2%;
  }

  .intro
  {
    border-top: 2px solid #ccc;
    width: 100%;
  }

  .intro_heading
  {
    margin-left: 30px;
    text-transform: uppercase;
  }
    
    
  .box1
  {
    background-color: #51AE3C;
    margin-left: 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 90%;
  }
   
    .box2{
        background-color: #1384C6;
        margin-left: 15%;
        width: 90%;
        padding-top: 5%;
        padding-bottom: 5%;
        text-align: center;
        }

    .box3{
        margin-left: 15%;
        margin-top: 5%;
       background-color: #DF9E10;
         padding-top: 1%;
        padding-bottom: 1%;
        width: 90%;
    }
    q{
        font-size: 30px;
        color: #0469a5;
    }
    
     .quotation{
        color: #fff;
         font-size: 0.875em; 
    }
    
    .middle_align{
            margin-left: 2%;
        vertical-align: middle;
    }
    .quotation_box{
        width: 45%;
        margin: auto;
    }
    
    .quote_symbol1{
    margin-left: -70px;
    margin-top: -15px;
    position: absolute;
       
    }
    
    .quote_symbol2{
        
        position: absolute;
        margin-left: 20px;
        
    }
    
    .instruction_text{
        display: inline-block;
        width: 80%;
    }
  .intro_list
  {
    margin-left:25px;
  }
    
    @media only screen and (max-device-width: 1024px) {
        .flex-container
        {
            margin-top: 23%;
        }
        
    }
      @media only screen and (max-device-width: 800px) {
          
         
          
          .quote_symbol{
              width: 50%;
          }
          
          .quote_symbol1{
              margin-top: 0;
          }
          .box1 {
            margin-left: 0px;
            width: 100%;
              padding-top: 1%;
              padding-bottom: 1%;
        }
          
           .box2 {
            margin-left: 0px;
            width: 100%;
                padding-top: 1%;
              padding-bottom: 1%;
        }
          
           .box3 {
            margin-left: 0px;
            width: 100%;
               margin-top: 0px;
        }
          
        .bg
        {
            background-size: 100% 100%;
            
        }
          .intro{
              height: 350px;
          }
          .flex-container
          {
              margin-top: 0%;
              height: 100%; 
              width: 100%;
          }
          
          .left-side{
              width: 100%;
              height: 100%;
          }
          .right-side {
              width: 30%;
          }
          .right-side img{
              width: 90%;
          }
          .intro_para
          {
              width: 90%;
          }
    }
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
      
         .bg {
          /* background-image: url('/app/assets/images/template/');*/
            background-size: 100% 100%;
            background-repeat: no-repeat;
            
         }
         
          .instruction_text {
            width: 70%;
         }
        
         .flex-container
         {
             display: block;
             height: 100%;
             margin-top: 20%;
             width: 100%;
             margin-top: 0px;
         }
         
         .quotation_box {
             width: 53%;
         }
         
         .quote_symbol1 {
           
            margin-top: 0px;
         }
         .quote_symbol2 {
            position: absolute;
            margin-left: 30px;
            margin-top: 0px;
        }
         
         .box1
          {
            margin: auto;
          }

            .box2
            {
            margin: auto;
            }

            .box3
            {
            margin: auto;
                margin-top: 5%;
            }

         
         .intro{
             height: 470px;
         }
         .intro_heading {
             margin-top: 0px;
         }
         .left-side
         {
             width: 100%;
         }
         .right-side
         {
             width: 80%;
             margin-bottom: 5%;
         }
         .right-side img
         {
             width: 45%;
             vertical-align: middle;
         }
    }
}




.static-page2 {
    
    
  .bg {
    background-image: url("/app/assets/images/template/Bg3.jpg");
    display: inline-block;
    background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 100%;
  }

  .intro {
    
    float:right;
    height: 562px;
    width: 100%;
    opacity: 0.9;
  }

    .subHeading{
        font-weight: 600;
        margin-left: 8%;
        font-size: 1em;
    }
    
    .list{
        margin-left: 10%;
    }
    
    @media only screen and (max-device-width: 1024px) {
        .bg{
            background-position-x: 0px; 
        }
    }
    
      @media only screen and (max-device-width: 800px) {
          
      
	.left-side{
       
        width: 100%;
	}
   
    
  .bg {
    background-image: url("/app/assets/images/template/Bg3.jpg");
    display: inline-block;
    height:100%;
    width: 100%;
    background-size: contain;
      background-size: 100% 100%;
  }

  .intro {
    
    float:right;
    height: 562px;
    width: 100%;
    opacity: 0.9;
  }

    .subHeading{
        font-weight: 600;
        margin-left: 8%;
        font-size: 1em;
    }
    
    .list{
        margin-left: 10%;
    }
          
    }
    
      @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
      
    
	.left-side{
       
        width: 100%;
	}
   
    
  .bg {
    background-image: url("/app/assets/images/template/Bg3.jpg");
    background-position-x: -400px; 
      background-size: cover;
   
    width: 100%;
  }

  .intro {
    
    float:right;
    height: 562px;
    width: 100%;
    opacity: 0.9;
  }

    .subHeading{
        font-weight: 600;
        margin-left: 8%;
        font-size: 1em;
    }
    
    .list{
        margin-left: 5%;
    }
    }
    
    
}

.static-page3 {
    
    .content{
        height: 550px;
    }
   
    .container{
        height: 100%;
    }
    
    .intro {
    width: 100%;
    border-top: 2px solid #ccc;
  }

    .bg {
    background-image: url("/app/assets/images/template/bg4.jpg");
        
   
  }
    
    .black
    {
        color: #000;
    }

    .white
    {
        color: $white;
    }

    .flex-container{
        width: 90%;
        margin: auto;
        margin-top: 2%;
    }

    .img-caption{
        text-align: center;
        width: 85%;
        margin: auto;
        margin-top: 10px;
        }
        
    .box1, .box2, .box3{
        margin: 2%;
        text-align: center;
    }
    
    .blue_banner{
       background-color: #1673ba;
        display: block;
         height: 30px;
        width: 100%;
    }
    
   
    .btn_div{
        background-color: #0d5c98;
        display: block;
         height: 70px;
        width: 100%;
        
    }
    
    .btn_container{
       
        margin: auto;
        width: 80%;
    }
    
    .instruction_text{
    display: inline-grid;
    width: 40%;
    font-size: 0.875em;
    vertical-align: middle;
        
    }

  .btn{
         display: inline-grid;
        width: 30%;
        text-align: center;
          position: relative;
        top: 15px;
    }
    
    .arrow_img{
        display: inline-block;
        width: 20%;
        text-align: center;
    }
    
    
    .btn_text{
      color: #1673ba;
        font-weight: bold;
      position: relative;
        top: -30px;
        left: -20px;
    }
	 @media only screen and (max-device-width: 800px)
     {
         
                .content{
                    
                        height: 470px;
                    }
         .intro {
                width: 100%;
                border-top: 2px solid #ccc;
                height: 700px;
                }
         .intro_para {
                margin-left: 46px;
                width: 408px;
                margin-top: 24px;
            }
         .box1,  .box2,  .box3 {
             width: 100%;
             margin: 0;
         }
        
         
         .btn img{
            
             width: 100%;
         }
          .box1 img , .box2 img , .box3 img{
            width: 60%;
            
        }
         
         .img_div{
              display: inline-block;
             width: 20%;
             text-align: center;
         }
         
         .img-caption{
          display: inline-block;
         text-align: left;
        font-size: 0.875em;
             width: 70%;
            
         }
         
        .btn_text {
            top: -26px;
            left: -14px;
            font-size: 0.675em;
        }
         
         .instruction_text {
            display: inline-block;
            width: 45%;
            font-size: 0.7em;
            vertical-align: baseline;
         }
         .btn{
             width: 45%;
             top: 10px;
             left: 10px;
         }
         .arrow_img{
             display: none;
         }
         .blue_banner{
             display: none;
         }
    }
    
    @media only screen and (max-device-width: 480px) and (orientation: landscape)  {
    
        .img_div{
            width: 25%;
        }
        .btn_text {
          top: -20px;  
        }
        .instruction_text {
             vertical-align: middle;
            margin-top: 15px;
        }
        .btn{
            top: 15px;
        }
    }
    
    
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
        
        
         
        .flex-container {
                display: block;
                
            }
        .intro {
                width: 100%;
                border-top: 2px solid #ccc;
                height: 700px;
                }
        .intro_para {
                margin-left: 11px;
                width: 306px;
                margin-top: 0px;
            }
        .intro_heading {
                margin-left: 12px;
                margin-top: 20px;
            }
        .bg{
                 background-position-x: -430px;
         }
        
        .box1 img , .box2 img , .box3 img{
        width: 25%;
            margin: auto;
        }
        
        .img_div{
            width: 100%;
        }
        .instruction_text{
            display: block;
            width: 90%;
            margin: auto;
            text-align: center;
            font-size: 0.6em;
        }
        
        .arrow_img{
            display: none;
        }
        .img-caption {
            margin-top: 10;
            font-size: 0.7em;
        }
        
        .btn_div{
            margin-top: 7%;
        }
        .blue_banner{
            display: none;
        }
        
        .btn_contaienr{
            position: relative;
                top: 5px;
        }
        .btn{
             display: block;
            width: 50%;
            margin: auto;
            top: 15px;
        }
        .btn img{
            width: 100%;
        }
        
        .btn_text{
            font-size: 0.5em;
            top: -22px;
            left: -12px;
        }
    
    }											  
}



.static-page4 {
    
    
    .left-side{
        width: 100%;
    }
    
  .flex-container
  {
  	display: -webkit-flex;
    display: flex;
  	
  	opacity:0.9;

  }
 
    .intro{
        height: 560px;
    }
    
  .bg
  {

  	background-image: url("/app/assets/images/template/bg5.jpg");
  	height:100%;
  	
    }

  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;

  }

  .intro
  {


  	width: 100%;
  	border-top: 2px solid #ccc;

  }

  
    .container{
    width: 100%;
    text-align: center;
    margin: auto;
        margin-top: 15%;
    }
    
    .sub_title{
        margin-left: 8%;
        margin-top: 5%;
    }
  .box1, .box2, .box3
  {
     display: inline-block;
  	 width: 32%;
  }
    .arrow img{
            vertical-align: bottom;
    }
    .button_01, .button_02, .button_03{
        display: inline-block;
        font-weight: bold;
        height: 40px;
        width: 200px;
        border: 1px solid transparent;
        border-radius: 5px;
        
        text-align: center;
        color: white;
        
    }
    
    .pop1{
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 22%;
        height: 350px;
        position: absolute;
        top: 25%;
        left: 6%;
        border-bottom: 10px solid #F3962A;
    }
    
    .pop1 .pop_heading{
        background-color: #F3962A;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
    }
    
     .pop1 hr{
         color: #F3962A;
       border:  1px solid #F3962A;
             width: 90%;
    }
      
    .pop1 li{
        text-align: left;
    }
    
      .pop2{
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 22%;
        height: 350px;
        position: absolute;
        top: 25%;
        left: 40%;
        border-bottom: 10px solid #13B093;
    }
    
    .pop2 .pop_heading{
        background-color: #13B093;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
    }
    
     .pop2 hr{
       color: #13B093;
         border:  1px solid #13B093;
             width: 90%;
    }
      .pop2 li{
        text-align: left;
    }
   
    .pop3 {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 10px;
        width: 22%;
        height: 350px;
        position: absolute;
        top: 25%;
        left: 73%;
        border-bottom: 10px solid #D74554;
    }
    
    .pop3 .pop_heading{
        background-color: #D74554;
        border-radius: 10px 10px 0px 0px;
        padding: 10px;
       
    }
    
    .arrow{
        display: inline-block;
    }
    .pop3 li{
        text-align: left;
    }
    
    .pop3 hr{
       border:  1px solid #D74554;
            width: 90%;
    }
    
    .button_01{
        background-color: #F3962A;
    }
    
    .button_02{
        background-color: #13B093;
    }
    
    .button_03{
        background-color: #D74554;
        
    }
 

  .img_caption
  {
  	margin: auto;
  	text-align: center;
  	width: 80%;
  	margin-top: 5%;

  }
    
    @media only screen and (max-device-width: 800px) {
        

      .intro
      {
          height: 300px;
        }
        ul{
            margin: 0;
            
        }
        h1{
            font-size: 1em;
        }
        .flex-container {
            margin-top: 0%;
        }
        .intro_heading {
        width: 100%;
        margin-top: 2%;
        }
        .container{
            display: inline-block;
            width: 90%;
        }
        .img_caption {
            width: 100%;
        }
        .page_title {
        margin-top: 3%;
        margin-left: 5%;
        }
        
         .sub_title {
            margin-left: 5%;
            margin-top: 2%;
        }
        
        .box1,  .box2, .box3 {
                display: block;
                width: 100%;
            text-align: center;
            height: 50px;
        }
        
        .container {
            display: block;
            width: 100%;
            margin-top: 5%;
            }
        .arrow{
            display: none;
        }
        
        .pop1{
            width: 90%;
            height: 250px;
            position: absolute;
            top: 2%;
            left: 5%;
            
        }
        
        .pop2{
            width: 90%;
            height: 250px;
            position: absolute;
            top: 2%;
            left: 5%;

        }
        
        .pop3{
            width: 90%;
            height: 250px;
            position: absolute;
            top: 2%;
            left: 5%;
        }
    }
    
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
        
        .intro{
            height: 100%;
        }
        
        
        .bg{
        background-repeat: no-repeat;
        background-size: cover;
        }
        
        h1{
            font-size: 1.5em;
        }
        
        .content{
            font-size: 0.875em;
        }
     
        .container
          {
            text-align: center;
            width: 100%;
            margin: auto;
        }
        
         .flex-container {
            height: 750px;
            margin-top: 0%;
            width: 100%;
            
        }
        
        .container{
            margin-top: 5%;
        }
        .pop1 {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 10px;
            width: 80%;
            height: 270px;
            position: absolute;
            top: 16%;
            left: 10%;
            border-bottom: 10px solid #F3962A;
        }
        
          .pop2 {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 10px;
            width: 80%;
            height: 290px;
            position: absolute;
            top: 16%;
            left: 10%;
             border-bottom: 10px solid #23B59D;
        }
        
          .pop3 {
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 10px;
            width: 80%;
            height: 280px;
            position: absolute;
            top: 16%;
            left: 10%;
            border-bottom: 10px solid #D25464;

        }
        
        
         .box1, .box2, .box3, .box4
          { 
            width:100%;
              height: 60px;
            margin-top: 5%;

          }
        
        .img_caption{
            width: 80%;
        }
    }
}

.interactivity1 {
    
    .content{
        height: 560px;
    }
  .flex-container
  {
  	display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 20%;
      left: 2%;
  }
    
    .page_title{
        margin-left: 5%;
    }
    .sub_heading{
    margin-left: 5%;
    margin-top: 2%;
    }
  .left-side
  {
  	width: 100%;
  }

    .middle_align
    {
        vertical-align: middle;
    }
    
    .img_caption{
        text-align: left;
        font-weight: bold;
    }
  .bg
  {
  	background-image: url("/app/assets/images/template/bg7.jpg");
    display: inline-block;
    height: 100%;
    width: 100%;
    background-position-y: -50px;
  }

    .box1, .box2, .box3, .box4 {
        margin: 2%;
        text-align: center;
    }
    
    .img_heading{
        font-weight: bold;
        color: #000;
        height: 60px;
        display: table-cell;
        vertical-align: bottom;
        text-align: left;
        padding: 5px;
    }

  .intro
  {
  	background-color: #1F73BA;
  	float:left;
  	height: 230px;
    width: 100%;
    margin-top: 23%;
  }

    
  
    
    @media only screen and (max-device-width: 800px) {
        
       
       .bg{
               background-image: none;
               background-color: #E8EBF0;
           }
           .content{
               height: 100%;
           }
          
           .intro
           {
               width: 100%;
               background-color: #1E2E3D;
               margin-top: 2%;
               height: 100%;
           }
           
           .flex-container{
               display: block;
              width: 100%;
               position: static;
               
           }
           .img_heading{
               display: block;
                height: auto;
                text-align: left;
                color: #fff;
                width: 80%;
                margin: auto;
               
           }
           .box1, .box2, .box3, .box4 {
               width: 50%;
                margin: auto;
           }
           .box1 img, .box2 img, .box3 img, .box4 img{
               width: 80%;
           }
           
           .img_caption{
            width: 90%;
            margin: auto;
            margin-left: 10%;
               font-weight: normal;
               margin-bottom: 2%;
               
           }
        
      
    }
    
       @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
           
           .bg{
               background-image: none;
               background-color: #E8EBF0;
           }
           .content{
               height: 100%;
           }
          
           .intro
           {
               width: 100%;
               background-color: #1E2E3D;
               margin-top: 2%;
               height: 100%;
           }
           
           .flex-container{
               display: block;
              width: 100%;
               position: static;
               
           }
           .img_heading{
               display: block;
                height: auto;
                text-align: left;
                color: #fff;
                width: 80%;
                margin: auto;
               
           }
           .box1, .box2, .box3, .box4 {
               width: 80%;
                margin: auto;
           }
           .box1 img, .box2 img, .box3 img, .box4 img{
               width: 80%;
           }
           
           .img_caption{
            width: 90%;
            margin: auto;
            margin-left: 10%;
               font-weight: normal;
               
           }
    }
}

.interactivity2 {
 
  .flex-container
  {
  	background-color: #1485C7;
    height: 110px;
    width: 100%;
    margin-top: 30%;
    color: #fff;
  }
    
    .box1, .box2, .box3, .box4{
        
        width: 25%;
        
    }
    
  .left-side
  {
  	width: 90%;
      display: flex;
      margin: auto;
  }

    .img-no{
        display: inline-block;
    width: 30%;
    height: 100%;
    }
    
    .box_text{
        display: inline-block;
        width: 63%;
        text-align: left;
    }
    
    .box1, .box2, .box3, .box4{
        margin: auto;
        text-align: center;
        font-size: 0.875em;
    }
  .bg
  {
  	background-image: url("/app/assets/images/template/bg8.jpg");
  	background-image: url("/app/assets/images/template/bg8.jpg");
    background-position-y: -70px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
    
    .box1 , .box2 , .box3 , .box4 {
        
        border-right: 1px solid #bbb;
        
    }
    
    .sub_heading{
             margin-left: 8%;
             margin-top: 2%;
         }
    
    .box4 {
        
        border-right: none;
        
    }
  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
   
    
  }

  
     @media only screen and (max-device-width: 800px) {
        
 .flex-container
  {
  	background-color: #1485C7;
    height: 100%;
    width: 100%;
    margin-top: 15%;
    color: #fff;
  }
    
    
    
  .left-side
  {
  	width: 90%;
      display: block;
         margin-top: 2%;
  }

    .img-no{
        display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: text-top;
    }
    
    .box_text{
        display: inline-block;
        width: 63%;
        text-align: left;
    }
    
    .box1, .box2, .box3, .box4{
        margin: auto;
        text-align: center;
        font-size: 0.875em;
        width: 100%;
    }
  .bg
  {
      background-image: none;
  	background-color: #E8EBF0;
  }
    
    .box1 , .box2 , .box3 , .box4 {
        border-bottom: 1px solid #bbb;
        border-right: none;
        height: 90px;
        margin-top: 2%;
    }
    
         .sub_heading{
             margin-left: 8%;
             margin-top: 2%;
         }
         
         
         .bottom{
             margin-top: 20%;
         }
         
    .box4 {
        
        border-bottom: none;
    }
  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    margin-top: 0;
   
    
  }

    }
    
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
           
   .flex-container
  {
  	background-color: #1485C7;
    height: 100%;
    width: 100%;
    margin-top: 25%;
    color: #fff;
  }
    
    
    
  .left-side
  {
  	width: 90%;
      display: block;
      margin-top: 5%;
  }

    .img-no{
        display: inline-block;
    width: 30%;
    height: 100%;
    }
    
    .box_text{
        display: inline-block;
        width: 63%;
        text-align: left;
    }
    
    .box1, .box2, .box3, .box4{
        margin: auto;
        text-align: center;
        font-size: 0.875em;
        width: 100%;
    }
  .bg
  {
      background-image: none;
  	background-color: #E8EBF0;
  }
    
    .box1 , .box2 , .box3 , .box4 {
        border-bottom: 1px solid #bbb;
        border-right: none;
        height: 90px;
        margin-top: 5%;
    }
    
         .sub_heading{
             margin-left: 8%;
             margin-top: 2%;
         }
         
         
         .bottom{
             margin-top: 20%;
         }
         
    .box4 {
        
        border-bottom: none;
    }
  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    margin-top: 0;
   
    
  }

    }
}

.dragdrop1 {
     
  .bg
  {
  	background-image: url("/app/assets/images/template/bg4.jpg");
  	background-position-y: -100px;
    display: inline-block;
  	height:100%;
    width: 100%;
  }
    
    .content{
        height: 550px;
    }

    .sub_heading{
        margin-left: 8%;
        margin-top: 2%;
    }
    
    .heading{
        display: inline-block;
        width: 75%;
        margin: auto;
        margin-left: 5%;
    }
    
    .box_no{
        display: inline-block;
         width: 15%;
        margin: auto;
        float: right;
    }
    
    .box_no img{
        width: 30%;
    }
    
    .box_content{
        width: 90%;
        margin: auto;
        padding: 2%;
    }
  .container
  {
  	
  	float: left;
  	height: 100%;
  	
  	width: 100%;
  }

  .flex_container
  {
  	display: -webkit-flex;
    display: flex;
  }
  .summary
  {
  	margin-left: 5%;
  }

    .top .box1{
        background-color: #fff;
        height: auto;
        width: 20%;
        margin: auto;
        
    }
    
    .top .box2{
        background-color: #fff;
        height: auto;
        width: 23%;
        margin: auto;
    }
    
    .top .box3{
        background-color: #fff;
        height: auto;
        width: 18%;
        margin: auto;
    }
    
     .top .box4{
        background-color: #fff;
        height: auto;
        width: 30%;
        margin: auto;
    }
    
    .top  .box1, .top .box2, .top .box3, .top .box4{
        margin-bottom: 0px;
    }
    
    .bottom .box1{
        background-color: #fff;
        height: auto;
        width: 25%;
        margin: auto;
        margin-top: 0px;
        
    }
    
     .bottom .box2{
         background-color: #fff;
        height: auto;
        width: 30%;
        margin: auto;
        
    }
    
     .bottom .box3{
         background-color: #fff;
        height: auto;
        width: 35%;
        margin: auto;
        
    }
    
    .box_header{
        background-color: #1D86D7;
        color: #fff;
        margin: auto;
        padding: 2%;
    }
    
    .bottom{
        margin-top: 5%; 
    }
    
    @media only screen and (max-device-width: 800px) {
        
            .content{
             height: 100%;
         }
         .bg{
             background-image: none;
             background-color: #E8EBF0;
         }
         .flex-container{
             display: block;
             width: 100%;
             margin: auto;
         }
         
         .box1, .box2, .box3, .box4, .box5, .box6, .box7{
             width: 90%;
             margin: auto;
             background-color: #fff;
             height: auto;
                 margin-top: 3%;
             margin-bottom: 4%;
             
         }
        
        
    }
    
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
         
         .content{
             height: 100%;
         }
         .bg{
             background-image: none;
             background-color: #E8EBF0;
         }
         .flex-container{
             display: block;
             width: 100%;
             margin: auto;
         }
         
         .box1, .box2, .box3, .box4, .box5, .box6, .box7{
             width: 90%;
             margin: auto;
             background-color: #fff;
             height: auto;
                 margin-top: 3%;
             margin-bottom: 3%;
             
         }
              
              
         }
    

}

.static-page5
{

.header
{
	margin: auto;
	background-color: #ddd;
	width: 1024px;
	height: 100px;
}
    
    .flex-container{
       
        background-color: #1F2E3C;
        height: 210px;
        width: 100%;
        text-align: center;
        margin-top: 35%;
    }
    
    .box1, .box2, .box3, .box4, .box5, .box6{
        width: 15%;
        margin: auto;
    }

    .icons{
        display: flex;
        width: 90%;
        margin: auto;
        position: absolute;
        top: 46%;
        left: 5%;
    }
    
    .img_caption{
        width: 90%;
        margin-top: 5%;
        font-weight: 600;
    }
    .content
    {
        margin: auto;
        width: 100%;
        height: 630px;
        background-color: #000;

    }


    .black
    {
        color: #000;
    }

    .white
    {
        color: #fff;
    }

    .big{
        font-size: 3em;
        font-weight: 700;
    }

    .sub_heading{
        font-weight: bold;
        width: 30%;
        margin: auto;
    }

    
    .footer
    {
        margin: auto;
        background-color: #ddd;
        width: 1024px;
        height: 100px;
    }

    .line_height
        {
            line-height:38px;
        }

    .bg
    {
        background-image: url("/app/assets/images/template/bg6.jpg");
        background-position-y: -50px; 
        height:100%;

    }

    .instruction_text
    {
        font-weight:bold;
        color:#fff;

    }
    .container
    {

        float: left;
        height: 350px;
        width: 100%;
    }

 

     @media only screen and (max-device-width: 800px)
     {
         .bg{
             background-image: none;
             background-color: #E8EBF0;
             background-size: contain;
            background-repeat: no-repeat;
            
         }
        
        .line_height {
                    line-height: 20px;
        }
        
        .flex-container{
            height: 430px;
            margin-top: 10%;
        }
         .container {
            
            height: 100%;
            width: 100%;
            margin-top: 0px;
         }
         .summary {
                margin-left: 0%;
            
            }
        .sub_heading{
            width: 90%;
            margin-left: 8%;
        }
        
        .icons{
            display: block;
            column-count: 2;
            position: static;
            
        }
        
        .img_caption{
            font-size: 0.7em;
            margin-top: 0;
        }
        
        .big{
            display: inline;
            font-size:  1.7em;
        }
        
         .box1, .box2, .box3, .box4, .box5, .box6{
        width: 90%;
        }
        
         .box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img{
        width: 40%;
        }
        
    }
    
     @media only screen and (max-device-width: 480px) and(orientation: landscape)  {
    
    .content{
        height: 550px;
    }
    }
    
    @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
        
        .bg{
             background-position: 0;
             background-size: contain;
            background-repeat: no-repeat;
             background-position-y: -10px;
         }
        
        .line_height {
                    line-height: 20px;
        }
        
        .flex-container{
            height: 360px;
        }
         .container {
            
            height: 100%;
            width: 100%;
            margin-top: 0px;
         }
         .summary {
                margin-left: 0%;
            
            }
        .sub_heading{
            width: 90%;
        }
        
        .icons{
            display: block;
            column-count: 2;
            position: static;
            
        }
        
        .img_caption{
            font-size: 0.7em;
            margin-top: 0;
        }
        
        .big{
            font-size:  1.7em;
        }
        
         .box1, .box2, .box3, .box4, .box5, .box6{
        width: 90%;
        }
        
         .box1 img, .box2 img, .box3 img, .box4 img, .box5 img, .box6 img{
        width: 40%;
        }
        
        
    }		 
}


.interactivity3{
    
.content{
        height: 540px;
    }
.flex-container
  {
      display: block;
    height: 110px;
    width: 100%;
    margin-top: 5%;
  }
    
  .left-side
  {
  	width: 90%;
    margin: auto;
  }
    .box_text{
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    li{
        list-style-type: none;
    }
  .bg
  {
  	background-image: url("/app/assets/images/template/bg9.jpg");
    background-position-y: -70px;
    display: inline-block;
    height: 100%;
    width: 100%;
  }
    .highlight{
        color: #1485C7;
        font-weight: bold;
    }
    .box1 , .box2 , .box3 , .box4, .box5 {
        background-color: #F7F7F4;
        border-left: 5px solid #1485C7;
        margin-top: 1%;
        width: 40%;
        height: auto;
        padding: 1%;
        
    }
    
    .sub_heading{
       margin-left: 8%;
        margin-top: 2%;
        font-weight: bold;
          }
    
  
  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
   
    
  }

  
     @media only screen and (max-device-width: 800px) {
        
 .flex-container
  {
    height: 100%;
    width: 100%;
    margin-top: 5%;
  }
    
    
    
  .left-side
  {
  	width: 90%;
    display: block;
    margin-top: 2%;
      margin: inherit;
  }

    .img-no{
    display: inline-block;
    width: 30%;
    height: 100%;
    vertical-align: text-top;
    }
    
    .box_text{
        display: inline-block;
        width: 63%;
        text-align: left;
    }
    
    .box1, .box2, .box3, .box4, .box5{
        margin: auto;
        width: 100%;
    }
  .bg
  {
      background-image: none;
  	background-color: #E8EBF0;
  }
    
    .box1 , .box2 , .box3 , .box4, .box5 {
        border-bottom: 1px solid #bbb;
        border-right: none;
        height: auto;
        margin-top: 2%;
        padding: 2%;
    }
    
         .sub_heading{
             margin-left: 8%;
             margin-top: 2%;
         }
         
         
         .bottom{
             margin-top: 20%;
         }
         
    .box4 {
        
        border-bottom: none;
    }
  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    margin-top: 0;
   
    
  }

    }
    
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
           
   .flex-container
  {
    height: 100%;
    width: 100%;
    margin-top: 5%;
   
  }
    
    
    
  .left-side
  {
  	width: 90%;
      display: block;
      margin: inherit;
      margin-top: 5%;
  }

    .img-no{
        display: inline-block;
    width: 30%;
    height: 100%;
    }
    
    .box_text{
        display: inline-block;
        width: 100%;
        text-align: left;
    }
    
    .box1, .box2, .box3, .box4, .box5{
        margin: auto;
        width: 100%;
    }
  .bg
  {
      background-image: none;
  	background-color: #E8EBF0;
  }
    
    .box1 , .box2 , .box3 , .box4, .box5 {
        border-bottom: 1px solid #bbb;
        border-right: none;
        height: auto;
        margin-top: 5%;
        padding: 2%;
    }
    
         .sub_heading{
             margin-left: 8%;
             margin-top: 2%;
         }
         
         
         .bottom{
             margin-top: 20%;
         }
         
    .box4 {
        
        border-bottom: none;
    }
  .instruction_text
  {
  	font-weight:bold;
  	color:#fff;
  	margin:10px;
  }

  .intro
  {
    margin-top: 0;
   
    
  }

    }
}




.interactivity4{
    
.content{
        height: 540px;
    }
.flex-container
  {
      display: block;
    height: 110px;
    width: 100%;
    margin-top: 5%;
  }
    
.left-side
  {
  	width: 60%;
      display: inline-block;
      margin: inherit;
      
  }
         
 .right-side{
     display: inline-block;
     width: 30%;
 }
    
    .sub-heading{
        font-size: 1.5em
    }
    .sub-heading .highlight{
        font-size: 2.5em;
        font-weight: bold;
    }
  .bg
  {
  	background-image: url("/app/assets/images/template/bg10.jpg");
    display: inline-block;
    height: 100%;
    width: 100%;
  }
    
    .box1, .box2, .box3{
        width: 100%;
        margin-top: 2%;
    }
    .box_img img{
           vertical-align: middle;
            width: 70%;
    }
    
    .left_content{
       text-align: center;
        width: 55%;
        margin-left: 16%;
        font-weight: bold;
    }
    
    .box_img{
        display: inline-block;
        width: 25%;
    }
    
    .container{
        font-weight: bold;
    }
  
    .box_text{
        display: inline-block;
        width: 60%;
    }
  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
   
    
  }
    
    .right_content{
        
        font-weight: bold;
        margin-top: 20%;
    }

  
     @media only screen and (max-device-width: 800px) {
        
 .content{
        height: 540px;
    }
.flex-container
  {
      display: block;
    height: 110px;
    width: 100%;
    margin-top: 5%;
  }
    
.left-side
  {
  	width: 60%;
      display: inline-block;
      margin: inherit;
      
  }
         
 .right-side{
     display: inline-block;
     width: 30%;
 }
    
    .sub-heading{
        font-size: 1.5em
    }
    .sub-heading .highlight{
        font-size: 2.5em;
        font-weight: bold;
    }
  .bg
  {
  	background-image: none;
    height: 100%;
    width: 100%;
  }
    
    .box1, .box2, .box3{
        width: 100%;
        margin-top: 2%;
    }
    .box_img img{
           vertical-align: middle;
            width: 70%;
    }
    
    .left_content{
       text-align: center;
        width: 55%;
        margin-left: 16%;
        font-weight: bold;
    }
    
    .box_img{
        display: inline-block;
        width: 25%;
    }
    
    .container{
        font-weight: bold;
    }
  
    .box_text{
        display: inline-block;
        width: 60%;
    }
  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
   
    
  }
    
    .right_content{
        
        font-weight: bold;
        margin-top: 20%;
    }

    }
    
     @media only screen and (max-device-width: 480px) and (-webkit-max-device-pixel-ratio: 5) and(orientation: portrait)  {
           
   .content{
        height: 540px;
    }
.flex-container
  {
      display: block;
    height: 110px;
    width: 100%;
    margin-top: 5%;
  }
    
.left-side
  {
  	width: 60%;
      display: inline-block;
      margin: inherit;
      
  }
         
 .right-side{
     display: inline-block;
     width: 30%;
 }
    
    .sub-heading{
        font-size: 1.5em
    }
    .sub-heading .highlight{
        font-size: 2.5em;
        font-weight: bold;
    }
  .bg
  {
  	background-image: none;
    height: 100%;
    width: 100%;
  }
    
    .box1, .box2, .box3{
        width: 100%;
        margin-top: 2%;
    }
    .box_img img{
           vertical-align: middle;
            width: 70%;
    }
    
    .left_content{
       text-align: center;
        width: 55%;
        margin-left: 16%;
        font-weight: bold;
    }
    
    .box_img{
        display: inline-block;
        width: 25%;
    }
    
    .container{
        font-weight: bold;
    }
  
    .box_text{
        display: inline-block;
        width: 60%;
    }
  .intro
  {
    float: left;
    height: 450px;
    width: 100%;
   
    
  }
    
    .right_content{
        
        font-weight: bold;
        margin-top: 20%;
    }

    }
}